\#*
**/*.db
*~
.#*
.DS_Store
.dotest
.loadpath
.project
config/*-public.asc
config/mongrel_cluster.yml
config/*sphinx.conf
config/database.yml
db/*.sql
db/*.sqlite3
db/schema.rb
db/vmail
db/sphinx
doc/**/*
log/*.log
log
pkg
public/uploads
tmp
vendor/rails
vendor/bundler_gems
coverage
rdoc
var
TAGS
.idea
.bundle
vendor/bundle
.rspec
public/stylesheets
.yardoc
*.swp
